# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/libraries
/x64
/x32
/Vulkan/x64
/Vulkan/x32
libraries.rar
.vs/
/.vs
Vulkan/shaders/VertexShader.spv
Vulkan/shaders/VertexShader_.vert
Vulkan/shaders/FragmentShader.spv
Vulkan/shaders/FragmentShader_.frag
*.mp4
